@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

*{
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.grass,
.poison,
.fire,
.water,
.electric,
.ground,
.rock,
.fighting,
.ice,
.flying,
.bug,
.ghost,
.steel,
.normal,
.fairy,
.psychic,
.dragon,
.dark {
  border-radius: 10%;
  padding: .1rem;
  font-weight: 600;
}

.grass { color: white; background-color: #4CAF50;}
.poison { color: white; background-color: #8E44AD;} 
.fire { color: white; background-color: rgb(173, 68, 68);} 
.water { color: white; background-color: #3498db;} 
.electric { color: black; background-color: #FFD700;} 
.ground { color: white; background-color: #D2B48C;} 
.rock { color: white; background-color: #A9A9A9;} 
.fighting { color: white; background-color: #A52A2A;} 
.ice { color: black; background-color: #87CEEB;} 
.flying { color: white; background-color: #87CEEB;} 
.bug { color: white; background-color: #32CD32;} 
.ghost { color: white; background-color: #6A5ACD;} 
.steel { color: white; background-color: #A9A9A9;} 
.normal { color: black; background-color: #D3D3D3;} 
.fairy { color: black; background-color: #FF69B4;} 
.psychic { color: white; background-color: #FF1493;} 
.dragon { color: white; background-color: #8A2BE2;} 
.dark { color: white; background-color: #2F4F4F;} 

main{
  padding: 5rem;
}

.card {
  height: 100%;
  transition: .3s;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card .card-img {
  width: 100%;
  height: auto;
}

.card-title {
  font-family: 'Silkscreen', sans-serif;
  font-size: 18px;
  margin-top: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.floating-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #ff0000;
  color: #fff;
  font-size: 25px;
  text-align: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card.card-selected {
  border: 2px solid #007bff;
  transform: scale(.9);
  transition: .5s ease;
}

.card.card-selected:hover {
  transform: scale(.9); 
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
}