body {
    background-color: #f8f9fa;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}